<!-- this doesn't work as it'll only hide the message if the browser refreshes if message.user.username == "TestSee" %> -->
<p><strong><%=message.user.username%>:</strong> <%=message.content%></p>
<!-- end %> -->
