<div class="jumbotron">
  <div class="container text-center">
    <h2>Editing Profile</h2>
  </div>

  <%= render 'form', profile: @profile %>

  <%= link_to 'Show', @profile %> |
  <%= link_to 'Back', profiles_path %>
</div>
