<div class="jumbotron">
  <div class="container-fluid">
    <div class="row col-md-8 col-md-offset-2" id="chatroom-title">
      <h1>Engaugements</h1>

    <ul id="chatroom-index">
      <% if @chatrooms.any? %>
          <%= render @chatrooms%>
      <%else %>
    </ul>
        <p>There aren't any Engaugements yet, checkout the front page to make one.</p>
      <% end %>
    </div>
  </div>
</div>
