<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Contact Daily News:</p>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Email News", contact_path %>
    </button>&nbsp;
  </div>
</footer>
