<div class="panel panel-default bootcards-media">
  <div class="panel-heading">
    <h5><%= @summary3.title %></h5>
  </div>
  <div class="panel-body">
       <%= image_tag @summary3.images.first.src.to_s, class: "thumbnail image-row" %>
    </a>
  </div>
  <div class="panel-footer dl-horizontal">
    <%= @summary3.description %>
  </div>
</div>
