<div class="jumbotron">
  <h1>Welcome to Engauge</h1>
  <p>Enter an article link below and choose if you agreed or disagree with it</p>

  <%= render 'chatrooms/chatroom_form', locals: {chatroom: @chatroom} %>

  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or log in, then create a chatroom or browse existing rooms to start chatting.</p>
</div>
