<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">....</div>
      <div class="panel-body"> ... </div>
        <img src="http://www.linkofphoto.com/path"/>
      <div class="panel-footer">
        <button type="button" class="btn btn-success">AGREE</button>
        <button type="button" class="btn btn-danger">DISAGREE</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">....</div>
      <div class="panel-body"> ... </div>
        <img src="http://www.linkofphoto.com/path"/>
      <div class="panel-footer">...</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">....</div>
      <div class="panel-body"> ... </div>
        <img src="http://www.linkofphoto.com/path"/>
      <div class="panel-footer">...</div>
    </div>
  </div>
</div>
